/*------------------------------------*\
  #CSS-RESET
\*------------------------------------*/
/*  Modern CSS reset - https://piccalil.li/blog/a-modern-css-reset/ */
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
/*------------------------------------*\
  #HTML5-BOILERPLATE
\*------------------------------------*/
/* Source: https://github.com/h5bp/html5-boilerplate/blob/main/dist/css/style.css */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/*
 * DISCLAIMER!
 * I had added some changes based on my preference.
 * This is not the original styling!
 */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 */
::-moz-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Don't allow horizontal resizing of textareas.
 */
textarea {
  resize: vertical;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #165fcc;
  color: #f2f2f2;
}

::-moz-selection {
  background-color: #165fcc;
  color: #f2f2f2;
}

/**
 * Screen Reader Class
 * 
 * To hide content visually.
 *
 * For more information: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
 */
.sr-only {
  position: absolute !important;
  margin: -1px !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ff7a7a url("../images/bg-intro-mobile.png") no-repeat center center/cover;
  padding: 5.5rem 1.5rem;
}
@media screen and (min-width: 59.375em) {
  body {
    background-image: url("../images/bg-intro-desktop.png");
  }
}

main,
footer {
  line-height: 1.6;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

p {
  font-size: 1em;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
  line-height: 1.6;
  font-family: sans-serif;
  font-weight: 400;
}

/** 
 * Avoid overloading a user with 
 * sound from a video that 
 * autoplays when the page is loaded.
 *
 * Source: https://github.com/AllThingsSmitty/css-protips#hide-autoplay-videos-that-arent-muted
 */
video[autoplay]:not([muted]) {
  display: none;
}

/**
 * Set font-size on Form Elements for a 
 * Better Mobile Experience
 *
 * To avoid mobile browsers (iOS Safari,
 * et al.) from zooming in on HTML form 
 * elements when a <select> drop-down is
 * tapped, add font-size to the selector
 * rule.
 *
 * Source: https://github.com/AllThingsSmitty/css-protips#set-font-size-on-form-elements-for-a-better-mobile-experience
 */
input[type=text],
input[type=number],
select,
textarea {
  font-size: 1rem;
}

/** 
 * Using currentColor to inherit the 
 * color value 
 */
svg path {
  fill: currentColor;
}

.hidden {
  visibility: hidden;
  width: 0.0625rem;
  height: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
 * Make sure when the user disable
 * JavaScript the content is hidden.
 */
.no-js header,
.no-js main,
.no-js footer {
  display: none !important;
}

.noscript {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background: #3a2046 url("../svg/exclamation-triangle.svg") no-repeat center center/20rem;
  padding: 0.625rem;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  color: white;
  font: 700 2.4rem/1.2 sans-serif;
}

@media screen and (min-width: 59.375em) {
  .noscript {
    background-size: 30rem;
  }
}
.noscript__text {
  margin: 2rem 0;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .noscript__text {
    opacity: 0;
    animation: fade-in 500ms ease-in-out 1000ms forwards;
  }
}
.card {
  border-radius: 0.625rem;
  box-shadow: 0 0.5rem 0 rgba(0, 0, 0, 0.14);
  padding: 1.5rem;
}

.card--white {
  background-color: white;
  color: #3e3c49;
}

.card--blue {
  background-color: #6055a5;
  color: white;
}

.hero {
  max-width: 37.5rem;
}
@media screen and (min-width: 59.375em) {
  .hero {
    display: flex;
    align-items: center;
    max-width: 69.375rem;
  }
  @supports (gap: 2.8125rem) {
    .hero {
      gap: 2.8125rem;
    }
  }
}

.hero__text {
  margin-bottom: 4rem;
  text-align: center;
}
@media screen and (min-width: 59.375em) {
  .hero__text {
    flex-basis: 100%;
    margin-right: 2.8125rem;
    margin-bottom: 0;
    text-align: left;
  }
  @supports (gap: 2.8125rem) {
    .hero__text {
      margin-right: 0;
    }
  }
}

.hero__title {
  margin-bottom: 1rem;
  line-height: 1.3;
  font-size: 1.75rem;
}
@media screen and (min-width: 59.375em) {
  .hero__title {
    margin-bottom: 1.5rem;
    line-height: 1.1;
    letter-spacing: -0.03125rem;
    font-size: 3.125rem;
  }
}

@media screen and (min-width: 59.375em) {
  .hero__sign-up {
    flex-basis: 100%;
  }
}

.hero__promotion {
  margin-bottom: 1.5rem;
  border-radius: 0.625rem;
  padding: 1.125rem 4.125rem;
  text-align: center;
  font-weight: 700;
}
@media screen and (max-width: 21.875em) {
  .hero__promotion {
    padding: 1.125rem 2.25rem;
  }
}

.hero__promotion--regular {
  font-weight: 400;
}

.hero__form {
  font-size: 0.875rem;
  font-weight: 600;
}
@media screen and (min-width: 59.375em) {
  .hero__form {
    padding: 2.5rem;
  }
}

.hero__form-control {
  display: block;
  position: relative;
  margin-bottom: 1rem;
}

.hero__input {
  display: block;
  border: 0.0625rem solid #dedede;
  border-radius: 0.3125rem;
  padding: 0.9375rem 3.4375rem 0.9375rem 1.25rem;
  width: 100%;
  height: 3.5rem;
  letter-spacing: 0.015625rem;
}
.hero__input:focus-visible, .hero__input:focus {
  outline: 0.1875rem dotted #3e3c49;
  outline-offset: 0.3125rem;
}

.hero__input:not(:placeholder-shown) ~ .hero__label {
  opacity: 0;
}

.hero__input.is-invalid {
  border: 0.125rem solid #ff7a7a;
  background: url("../svg/icon-error.svg") no-repeat center right 1.6875rem;
  color: #ff7a7a;
}
.hero__input.is-invalid:focus-visible, .hero__input.is-invalid:focus {
  outline: 0.1875rem dotted #ff7a7a;
  outline-offset: 0.3125rem;
}

.hero__input--password.is-invalid {
  background: none;
}

.hero__input.is-invalid ~ .hero__label {
  color: #ff7a7a;
}

.hero__label {
  position: absolute;
  opacity: 0.75;
}

.hero__label--text {
  top: 0.9375rem;
  left: 1.3125rem;
  letter-spacing: 0.015625rem;
}

.hero__label--show-password {
  top: 0.9375rem;
  right: 1.6875rem;
  cursor: pointer;
}

.hero__checkbox:focus + .hero__label--show-password,
.hero__checkbox:focus-visible + .hero__label--show-password {
  outline: 0.1875rem dotted #3e3c49;
  outline-offset: 0.3125rem;
}

.hero__alert {
  margin-top: 0.375rem;
  text-align: right;
  color: #ff7a7a;
  font-size: 0.6875rem;
  font-weight: 500;
  font-style: italic;
}

.hero__info {
  margin-top: 0.375rem;
  font-size: 0.6875rem;
}

.hero__password-length {
  font-size: 0.75rem;
}

.hero__submit-button {
  display: block;
  border: none;
  border-radius: 0.3125rem;
  box-shadow: inset 0 -0.25rem 0 rgba(0, 0, 0, 0.09);
  background-color: #38cc8c;
  cursor: pointer;
  padding: 0.9375rem;
  width: 100%;
  text-transform: uppercase;
  color: white;
  font-size: 0.9375rem;
}
.hero__submit-button:focus-visible, .hero__submit-button:focus {
  outline: 0.1875rem dotted #3e3c49;
  outline-offset: 0.3125rem;
}
.hero__submit-button:hover, .hero__submit-button:active {
  background-color: #77e2b3;
}
@media screen and (prefers-reduced-motion: no-preference) {
  .hero__submit-button {
    transition: background-color 150ms ease-in-out;
  }
}

.hero__message {
  margin-top: 0.5rem;
  text-align: center;
  line-height: 1.9;
  color: #b9b6d3;
  font-size: 0.6875rem;
}

.hero__link {
  text-decoration: none;
  color: #ff7a7a;
  font-weight: 700;
}
.hero__link:focus-visible, .hero__link:focus {
  outline: 0.1875rem dotted #3e3c49;
  outline-offset: 0.3125rem;
}
.hero__link:hover, .hero__link:active {
  color: #ffa2a2;
}
@media screen and (prefers-reduced-motion: no-preference) {
  .hero__link {
    transition: color 150ms ease-in-out;
  }
}

.footer {
  margin-top: 6.25rem;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
}
@media screen and (min-width: 59.375em) {
  .footer {
    width: auto;
  }
}

.footer__link {
  text-decoration: none;
  color: #ff7a7a;
  font-weight: 700;
}
.footer__link:focus-visible, .footer__link:focus {
  outline: 0.1875rem dotted #3e3c49;
  outline-offset: 0.3125rem;
}
.footer__link:hover, .footer__link:active {
  color: #ffa2a2;
}
@media screen and (prefers-reduced-motion: no-preference) {
  .footer__link {
    transition: color 150ms ease-in-out;
  }
}
