@use "../abstracts" as *;

.card {
  box-shadow: 0 rem(8) 0 rgb(0 0 0 / 14%);
  border-radius: rem(10);
  padding: rem(24);
}

.card--white {
  background-color: $white;
  color: $dark-blue;
}

.card--blue {
  background-color: $blue;
  color: $white;
}
