@use "../abstracts" as *;

@font-face {
  font-style: normal;
  font-weight: 700;
  src: local("Poppins"), local("Poppins Bold"), local("Poppins-Bold"),
    url("/fonts/PoppinsBold.woff2") format("woff2"),
    url("/fonts/PoppinsBold.woff") format("woff");
  font-family: Poppins;
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: local("Poppins"), local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("/fonts/PoppinsSemiBold.woff2") format("woff2"),
    url("/fonts/PoppinsSemiBold.woff") format("woff");
  font-family: Poppins;
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: local("Poppins"), local("Poppins Medium"), local("Poppins-Medium"),
    url("/fonts/PoppinsMedium.woff2") format("woff2"),
    url("/fonts/PoppinsMedium.woff") format("woff");
  font-family: Poppins;
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: local("Poppins"), local("Poppins Regular"), local("Poppins-Regular"),
    url("/fonts/PoppinsRegular.woff2") format("woff2"),
    url("/fonts/PoppinsRegular.woff") format("woff");
  font-family: Poppins;
  font-display: swap;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $red url("../images/bg-intro-mobile.png") no-repeat center
    center/cover;
  padding: rem(88) rem(24);
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;

  @include breakpoint-up("tiny") {
    background-image: url("../images/bg-intro-desktop.png");
  }
}

:focus {
  outline: rem(3) dotted $dark-blue;
  outline-offset: rem(5);
}

main,
footer {
  color: $white;
  font-weight: 500;
  line-height: 1.6;
  font-family: Poppins, sans-serif;
}

img,
svg {
  vertical-align: middle;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg path {
  fill: currentColor;
}

input,
button {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
  }

  html:focus-within {
    scroll-behavior: auto;
  }
}
